<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Finance Tracker</title>
</head>
<body>
<header>
    <nav>
        <div class="home">
            <a th:href="@{/}">Personal Finance App</a>
        </div>
        <div class="links">
            <li >
                <a th:href="@{/login}">Login</a>
            </li>
            <li >
                <a th:href="@{/register}">Register</a>
            </li>
        </div>
    </nav>
</header>
<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            &copy; All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>