* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: red;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-form, .register-form {
    display: block;
    height: 40%;
    padding: 3em;
    border: 2px solid black;
    background-color: green;

}

input, .input-element{
    display: flex;

    padding: 0.2em;
}

h3, .login-button, .register-button{
    display: flex;
    justify-content: center;
}
