<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Login</title>
</head>
<body>

<div class="add-category-form">
    <form class="form" th:action="@{/category/add}" th:method="POST" th:object="${addCategoryName}">

        <h3>Add new Category</h3>

        <label class="label-element" for="name">Category name: </label>
        <input type="text" id="name" name="name" th:field="*{categoryName}">

        <div class="add-category-button">
            <button type="submit">Add</button>
        </div>
    </form>
</div>

<div class="add-category-form">
    <form class="form" th:action="@{/category/delete}" th:method="DELETE">
        <input type="hidden" name="_method" value="DELETE" />

        <h3>Delete Category</h3>

        <label for="categoryId"></label><select name="categoryId" id="categoryId">
            <option th:each="category : ${user.categories}" th:if="${category.name != 'Prihodi'}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>

        <div class="add-category-button">
            <button type="submit">Delete</button>
        </div>
    </form>
</div>
</body>
</html>