<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Add New Goal</title>
</head>
<body>

<div class="add-expense-form">
    <form class="add-expense" th:action="@{/savings/new}" th:method="POST" th:object="${createNewGoal}">
        <h4>Add cash</h4>
        <div class="input-element">
            <label for="goalName">Goal name: </label>
            <input type="text" id="goalName" th:field="*{goalName}">
        </div>

        <div class="input-element">
            <label for="targetAmount">Target Amount: </label>
            <input type="number" id="targetAmount" step="0.01" th:field="*{targetAmount}">
        </div>

        <div class="input-element">
            <label for="deadline">Deadline: </label>
            <input type="date" id="deadline" th:field="*{deadline}">
        </div>
        <button type="submit">Add New Goal</button>
    </form>
</div>

</body>
</html>