<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">

</head>
<body>
<header>
    Personal Finance Tracker
</header>

<main>

    <div class="home-page">
        <div class="nav-bar">
            <nav class="navigation">

                <a href="/home">
                    <p>Add saving goal</p>
                </a>
                <a href="/home">
                    <p>Edit profile</p>
                </a>
                <a href="/home">
                    <p>Settings</p>
                </a>
                <a href="/">
                    <p>Logout</p>
                </a>
            </nav>
        </div>
        <div class="main-content">
            <div class="categories-container">

                <div th:each="category : ${user.categories}">
                    <h4 th:text="${category.name}"></h4>
                    <p th:text="|${category.getAmount()} EUR|"></p>
                </div>

            </div>
            <div class="tables">
                <div class="last-transaction-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Sum</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Name 1</td>
                            <td>Category 1</td>
                            <td>50,30 EUR</td>
                            <td>12.03.2025</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="add-expense-form">
                    <form class="add-expense" th:action="@{/add}" th:method="POST" th:object="${addExpenseRequest}">
                        <h4>Add expense</h4>
                        <div class="input-element">
                            <label for="transactionName">Transaction name: </label>
                            <input type="text" id="transactionName" th:field="*{transactionName}">
                        </div>
                        <div class="input-element">
                            <label for="amount">Amount: </label>
                            <input type="number" id="amount" step="0.01" th:field="*{amount}">
                        </div>


                        <label for="category"></label>
                        <select name="category" id="category" th:field="*{category}">
                            <option th:each="category : ${user.categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>

<!--                        <label for="transactionType"></label>-->
<!--                        <select name="transactionType" id="transactionType" th:field="*{transactionType}">-->
<!--                            <option th:each="type : ${T(com.spring_project.transaction.model.Type).values()}" th:value="${type}" th:text="${#strings.capitalize(#strings.toLowerCase(type))}"></option>-->
<!--                        </select>-->


                        <div class="input-element">
                            <label for="date">Date: </label>
                            <input type="date" id="date" th:field="*{transactionDate}">
                        </div>

<!--                        <div class="input-element">-->
<!--                            <label for="description">Description: </label>-->
<!--                            <input type="text" id="description" th:field="*{description}">-->
<!--                        </div>-->



                        <!--                       <div>-->
                        <!--                           <select name="category1">-->
                        <!--                               <option th:each="category1 : ${user.getCategories()}" th:value="${category1}" th:text="category1" ></option>-->
                        <!--                           </select>-->
                        <!--                       </div>-->
                        <!--                               <div th:each="category1 : ${user.getCategories()}">-->
                        <!--                                   <input type="radio" name="category1" id="category1_id" th:value="${category1.name}" th:field="*{category}" required>-->
                        <!--                                   <label th:for="'category1-' + ${category1.id}" th:text="${category1.name}"></label>-->
                        <!--                               </div>-->

                        <button type="submit">Add</button>
                    </form>
                </div>


                <!--                <div class="add-expense-form">-->
<!--                   <form class="add-expense" th:action="@{/home}" th:method="POST" th:object="${addExpenseRequest}">-->
<!--                       <h4>Add expense</h4>-->
<!--                       <div class="input-element">-->
<!--                           <label for="expense name">Expense name: </label>-->
<!--                           <input type="text" id="expense name" th:field="*{expenseName}">-->
<!--                       </div>-->
<!--                       <div class="input-element">-->
<!--                           <label for="sum">Sum: </label>-->
<!--                           <input type="number" id="sum" step="0.01" th:field="*{expenseAmount}">-->
<!--                       </div>-->
<!--                       <div class="input-element">-->
<!--                           <label for="date">Date: </label>-->
<!--                           <input type="date" id="date" th:field="*{expenseDate}">-->
<!--                       </div>-->

<!--&lt;!&ndash;                       <div>&ndash;&gt;-->
<!--&lt;!&ndash;                           <select name="category1">&ndash;&gt;-->
<!--&lt;!&ndash;                               <option th:each="category1 : ${user.getCategories()}" th:value="${category1}" th:text="category1" ></option>&ndash;&gt;-->
<!--&lt;!&ndash;                           </select>&ndash;&gt;-->
<!--&lt;!&ndash;                       </div>&ndash;&gt;-->
<!--&lt;!&ndash;                       <div th:each="category1 : ${user.getCategories()}">&ndash;&gt;-->
<!--&lt;!&ndash;                           <input type="radio" name="category1" id="category1_id" th:value="${category1.name}" th:field="*{category}" required>&ndash;&gt;-->
<!--&lt;!&ndash;                           <label th:for="'category1-' + ${category1.id}" th:text="${category1.name}"></label>&ndash;&gt;-->
<!--&lt;!&ndash;                       </div>&ndash;&gt;-->

<!--                       <button type="submit">Add</button>-->
<!--                   </form>-->
<!--                </div>-->
            </div>
        </div>
    </div>

</main>

</body>
</html>