<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">

</head>
<body>
<header>
    Personal Finance Tracker
</header>

<main>

    <div class="home-page">
        <div class="nav-bar">

            <div class="profile-section">
                <div class="home-section">
                    <div class="single-section-box home-profile-information">
                        <div class="profile-header">
                            <img th:src="${#strings.isEmpty(user.profilePicture) ? 'https://cdn0.iconfinder.com/data/icons/cryptocurrency-137/128/1_profile_user_avatar_account_person-132-256.png' : user.profilePicture}"
                                 alt="Profile Picture" class="profile-img">
                            <h2 class="profile-name" th:text="${(!#strings.isEmpty(user.firstName) || (!#strings.isEmpty(user.lastName))) ? user.firstName + ' ' + user.lastName : 'First and Last'}" ></h2>
                        </div>
                        <div class="profile-info">
                            <div class="details-section-container">
                                <strong>Username: </strong>
                                <p th:text="${user.username}"></p>
                            </div>
                            <div class="details-section-container">
                                <strong>Email: </strong>
                                <p th:text="${user.email}"></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <nav class="navigation">

                <a href="/savings">
                    <p>Saving Goals</p>
                </a>
                <a href="/edit/profile">
                    <p>Edit profile</p>
                </a>
                <a href="/home">
                    <p>Settings</p>
                </a>
                <a href="/notifications">
                    <p>Notification Settings</p>
                </a>
                <a href="/category/add">
                    <p>Category Settings</p>
                </a>
                <a href="/recurring/payment">
                    <p>Recurring Payments</p>
                </a>
                <a href="/transactions/add/cash">
                    <p>Add Cash</p>
                </a>
                <a href="/">
                    <p>Logout</p>
                </a>
            </nav>
        </div>
        <div class="main-content">
            <div class="categories-container">

                <div>
                    <h4>Balance: </h4>
                    <p th:text="|${user.getBalance()} EUR|"></p>
                </div>

                <div th:each="category : ${user.categories}" >
                    <h4 th:if="${category.systemCategories==true}" th:text="${category.name}"></h4>
                    <p th:if="${category.systemCategories==true}" th:text="|${category.getAmount()} EUR|"></p>
                </div>

                <div th:each="category : ${user.categories}" >
                    <h4 th:if="${category.systemCategories != true}" th:text="${category.name}"></h4>
                    <p th:if="${category.systemCategories != true}" th:text="|${category.getAmount()} EUR|"></p>
                </div>

            </div>
            <div class="tables">
                <div class="last-transaction-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Sum</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transaction : ${transactions}">
                            <td th:text="${transaction.transactionName}">Name 1</td>
                            <td th:text="${transaction.category.name}">Category 1</td>
                            <td th:text="${transaction.amount}">50,30 EUR</td>
                            <td th:text="${transaction.transactionDate}">12.03.2025</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="add-expense-form">
                    <form class="add-expense" th:action="@{/add}" th:method="POST" th:object="${addExpenseRequest}">
                        <h4>Add expense</h4>
                        <div class="input-element">
                            <label for="transactionName">Transaction name: </label>
                            <input type="text" id="transactionName" th:field="*{transactionName}">
                        </div>
                        <div class="input-element">
                            <label for="description">Description: </label>
                            <input type="text" id="description" th:field="*{description}">
                        </div>
                        <div class="input-element">
                            <label for="amount">Amount: </label>
                            <input type="number" id="amount" step="0.01" th:field="*{amount}">
                        </div>


                        <label for="category"></label>
                        <select name="category" id="category" th:field="*{category}">
                            <option th:each="category : ${user.categories}" th:if="${category.systemCategories != true}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>

                        <div class="input-element">
                            <label for="date">Date: </label>
                            <input type="date" id="date" th:field="*{transactionDate}">
                        </div>

                        <button type="submit">Add</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</main>

</body>
</html>