<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/server-error.css">
</head>
<body>

<main>
    <div id ="container"> <!-- container starts -->
        <div id ="imageG">
            <div id="ghostBody">
                <img src = "https://dl.dropboxusercontent.com/u/89298673/images/ghost.png" alt="left" class="bottomBody">
            </div>
            <div id="ghostEyes">
                <img src = "https://dl.dropboxusercontent.com/u/89298673/images/eyes.png" alt="right" class="topEyes">
            </div>
            <div id="ghostSkeleton">
                <img src = "https://dl.dropboxusercontent.com/u/89298673/images/skeleton.png" alt="right" class="topSkeleton">
            </div>
        </div>

        <h3 class = "bold">Internal Server Error</h3>
        <div class="underline"></div>
        <p class = "body">Sorry! something went wrong at our side.</p>
        <button type="button" class="btn">Try Again</button>
    </div> <!-- container ends -->
</main>

</body>
</html>