<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Login</title>
</head>
<th:block th:insert="~{fragments/nav-bar :: nav-bar}"></th:block>

<body class="background">
    <div class="login-form">
        <form class="form" th:action="@{/login}" th:method="POST">

            <h3>Login</h3>

                <label class="label-element" for="username">Username: </label>
                <input type="text" id="username" name="username" placeholder="Your username">

                <label class="label-element" for="password">Password: </label>
                <input type="password" id="password" name="password" placeholder="Your password">
            <p class="alert-warning" th:if="${error}" th:text="${error}"></p>

            <div class="button">
               <button type="submit">Login</button>
            </div>
            <p class="already">Do not have an account? <a href="/register">Register</a></p>

        </form>
    </div>
    </body>
</html>