<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Notifications</title>

</head>
<body class="home-background">
<th:block th:insert="~{fragments/nav-bar :: nav-bar}"></th:block>

<main>
    <th:block th:insert="~{fragments/user-details :: user-details}"></th:block>

    <div class="main-content">
        <div class="container">
            <div class="notification-form">
                <strong>Notification type: </strong>
                <p th:text="${notificationPreference.type}"></p>
                <strong>Source: </strong>
                <p th:text="${notificationPreference.contactInfo}"></p>
                <strong>Notification state: </strong>
                <p class="enabled-notification-status" th:if="${notificationPreference.enabled}">ENABLED</p>
                <p class="disabled-notification-status" th:unless="${notificationPreference.enabled}">DISABLED</p>
                <div class="notification-form-button">
                    <form th:action="@{'/notifications/preferences?enabled=false'}" th:method="PUT"
                          th:if="${notificationPreference.enabled}" }>
                        <div class="disabled-notification-button">
                            <button>Disable Notifications</button>
                        </div>
                    </form>
                    <form th:action="@{'/notifications/preferences?enabled=true'}" th:method="PUT"
                          th:unless="${notificationPreference.enabled}" }>
                        <div class="enable-notifications-button">
                            <button>Enable Notifications</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>