<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Register</title>
</head>
<th:block th:insert="~{fragments/nav-bar :: nav-bar}"></th:block>

<body class="background">
<div class="register-form">
    <form class="form" th:action="@{/register}" th:method="POST" th:object="${registerRequest}">

        <h3>Register</h3>

        <label for="username">Username: </label>
        <input type="text" id="username" name="username" placeholder="Your username" th:field="*{username}">
        <p class="alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        <p class="alert-warning" th:text="${usernameErrorMessage}"></p>

        <label for="email">Email: </label>
        <input type="text" id="email" name="email" placeholder="Your email" th:field="*{email}">
        <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <p class="alert-warning" th:text="${emailErrorMessage}"></p>


        <label for="password">Password: </label>
        <input type="password" id="password" name="password" placeholder="Your password" th:field="*{password}">
        <p class="alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <p class="alert-warning" th:text="${passwordErrorMessage}"></p>

        <label for="confirmPassword">Confirm Password: </label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repeat password"
               th:field="*{confirmPassword}">

        <div class="button">
            <button type="submit">Register</button>
        </div>
        <p class="already">Already have an account? <a href="/login">Login</a></p>

    </form>
</div>
</body>
</html>