<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Transactions</title>
</head>

<body class="home-background">
<th:block th:insert="~{fragments/nav-bar :: nav-bar}"></th:block>

<main>
    <th:block th:insert="~{fragments/user-details :: user-details}"></th:block>

    <div class="main-content">
        <div class="all-transactions-table">
            <table class="all-users">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Date transaction happened</th>
                    <th>Date transaction was created</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.transactionName}"></td>
                    <td th:text="${transaction.category.name}"></td>
                    <td th:text="${transaction.amount}"></td>
                    <td th:text="${#temporals.format(transaction.transactionDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#temporals.format(transaction.transactionCreationDate, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${transaction.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>