<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Transactions</title>
</head>
<body>

<div class="last-transaction-table">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Sum</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name 1</td>
            <td>Category 1</td>
            <td>50,30 EUR</td>
            <td>12.03.2025</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>